.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/
!**/src/test/**/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
bin/
!**/src/main/**/
!**/src/test/**/
php-lib/composer.lock
php-lib/vendor/
php-lib/.phpunit.result.cache

PUBLISHING_MEMO.md

# Generated resources
src/main/resources/net/zamasoft/index/util/var.txt
